jupyter_client
ipykernel
matplotlib<3.3.0
numpy
pandas
ipywidgets==7.7.2
scipy
seaborn
scikit-learn
jinja2
nbconvert
nbformat
dill
jupytext
otter-grader==4.2.0
sympy
csaps
plotly
statsmodels
nbforms
ipython-sql==0.4.0
sqlalchemy==1.4.46
tqdm==4.62.1
geopandas==0.10.2
geopy==2.2.0
pycountry-convert==0.7.2
statsmodels==0.13.5
openpyxl==3.0.7
lifelines



